# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.pytest_cache/

# Docker
.dockerignore
docker-compose.override.yml

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db